/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

*, body {
  font-family: 'Lato', sans-serif; }

body {
  background-color: #F6F9FB; }

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  padding: 0 40px 0 20px;
  background-color: #fff;
  margin-bottom: 50px; }
  .header p {
    color: #9019FE;
    font-size: 20px;
    font-weight: 700; }

.header__logo {
  max-width: 250px; }

.main {
  padding-bottom: 40px; }

.fecha {
  color: #9019FE;
  font-size: 30px;
  margin: 0 auto 30px auto;
  width: 100%;
  max-width: 220px; }
  .fecha p {
    margin-bottom: 5px; }
  .fecha strong {
    font-weight: 700; }

.pignose-calendar {
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

.pignose-calendar .pignose-calendar-top {
  padding: 20px 0 0px 0;
  background-color: #fff;
  -webkit-box-shadow: none;
  box-shadow: none;
  border: none; }

.pignose-calendar .pignose-calendar-unit-first-active.pignose-calendar-unit.pignose-calendar-unit-active a {
  border-radius: 1.2em 0 0 1.2em;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none; }

.pignose-calendar .pignose-calendar-unit-second-active.pignose-calendar-unit.pignose-calendar-unit-active a {
  border-radius: 0 1.2em 1.2em 0;
  width: 100%;
  -webkit-box-shadow: none;
  box-shadow: none; }

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-first a,
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-range.pignose-calendar-unit-range-last a {
  border-radius: 0; }

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-date {
  padding: 10px 0;
  top: 75%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  height: auto; }

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-month {
  margin-bottom: 0;
  color: #9019FE; }

.pignose-calendar .pignose-calendar-top .pignose-calendar-top-year {
  display: none; }

.pignose-calendar .pignose-calendar-unit a,
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sat a, .pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-sun a {
  color: #515151;
  background-color: #D8D8D8; }

.pignose-calendar .pignose-calendar-header .pignose-calendar-week,
.pignose-calendar .pignose-calendar-top .pignose-calendar-top-nav .pignose-calendar-top-icon,
.pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sat, .pignose-calendar .pignose-calendar-header .pignose-calendar-week.pignose-calendar-week-sun {
  color: #9019FE; }

.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-active a,
.pignose-calendar .pignose-calendar-unit.pignose-calendar-unit-range a {
  background-color: #9019FE;
  color: #fff; }

.pignose-calendar-top-date {
  background-color: #fff; }
