/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

*, body {
  font-family: 'Lato', sans-serif;
}

body {
  background-color: #F6F9FB;
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 40px 0 20px;
  background-color: #fff;
  margin-bottom: 50px;
  p {
    color: #9019FE;
    font-size: 20px;
    font-weight: 700;
  }
}

.header__logo {
  max-width: 190px;
  width: 100%;
  @media (min-width: 480px){
    max-width: 250px;
  }
}

.main {
  padding: 0 20px 40px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.fecha {
  color: #9019FE;
  font-size: 30px;
  margin-bottom: 30px;
  p {
    margin-bottom: 5px;
  }
  strong {
    font-weight: 700;
  }
}

.calendario {
  width: 100%;
}

.calendar {
  text-decoration: none;
}

.pignose-calendar {
  width: 100%;
  box-shadow: none;
  border: none;
  border-radius: 8px;
  overflow: hidden;
  max-width: 400px;

  .pignose-calendar-top {
    padding: 0;
    background-color: #fff;
    box-shadow: none;
    border: none;

    .pignose-calendar-top-nav {
      position: absolute;
      top: 50%;

        &.pignose-calendar-top-prev {
          left: 0px;
        }

        &.pignose-calendar-top-next {
          right: 0px;
        }

        .pignose-calendar-top-icon {
            color: #9019FE;
        }
    }

      .pignose-calendar-top-date {
          position: relative;
          padding: 15px 0 0 0;

          .pignose-calendar-top-month {
            text-decoration: none;
            margin-bottom: 0;
            color: #9019FE;
          }

          .pignose-calendar-top-year {
              display: none;
          }
      }
  }

  .pignose-calendar-header {
    margin-top: 10px;
    position: relative;
    &:after {
      content: '';
      height: 1px;
      width: 85%;
      left: 50%;
      bottom: 0;
      position: absolute;
      transform: translateX(-50%);
      background-color: #9019FE;
    }
      .pignose-calendar-week {
        color: #9019FE;

          &.pignose-calendar-week-sun,
          &.pignose-calendar-week-sat {
            color: #9019FE;
          }
      }
  }

  .pignose-calendar-body {

      .pignose-calendar-row {

          .pignose-calendar-unit {

              height: 3.1em;

              &.pignose-calendar-unit-date {
                  // non-empty date item.
                  a {
                    height: 2em;
                    width: 2em;
                    line-height: 2em;
                    color: #515151;
                    background-color: #D8D8D8;
                  }
              }

              &.pignose-calendar-unit-active {
                  // When date is clicked, and that date turns to active state.
                  a {
                    background-color: #9019FE;
                    color: #fff;
                    border-radius: 50%;
                  }

                  &.pignose-calendar-unit-first-active,
                  &.pignose-calendar-unit-second-active {
                    a {
                    }
                  }
              }

              &.pignose-calendar-unit-range {
                a {
                  width: 100%;
                  background-color: #9019FE;
                  color: #fff;
                }
              }

          }


      }
  }
}

